<div class="contacts-container">
  <div class="headers">
    <div class="contact-image"></div>
    <div class="contact-name">Name</div>
    <div class="contact-age">Age</div>
    <div class="contact-phone">Phone number</div>
    <input type="text" placeholder="Search by phone" [(ngModel)]="query">
  </div>

  <cdk-virtual-scroll-viewport class="contacts-container" autosize>
      <app-contact-row [contact]="contact"
      *cdkVirtualFor="let contact of contacts | search: query"></app-contact-row>
  </cdk-virtual-scroll-viewport>

</div>
